[Desktop Entry]
Version=1.0
Type=Application
Name=QLogFork
Comment=Amateur Radio Logbook
Exec=qlog
Icon=qlog
Categories=Utility;HamRadio;
Keywords=QLog;Ham;Radio;HamRadio;AmateurRadio;Log;
